<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="CleanUpTasks" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <CleanUpTasks>
    <add key="Test" value="Command='FilesOnly'; Directory = 'C:\Ablieferbelege\'"/>
  </CleanUpTasks>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
